<h1><%= @article[:title] %></h1>
<h2><%= @article[:content] %></h2>
<button><%= link_to "Go back to overview", articles_path %></button>
<button><%= link_to "Update", edit_article_path %></button>
<button><%= link_to "Delete", article_path, method: :delete, data: { confirm: "Are you sure?"} %></button>


